<h3 class="comment_header">Post a Comment</h3>

<%= form_for [ @upload, @comment ] do |f| %>
  <p>
      <%= f.label :content, "Your Comment", class: "comment_input"%><br/>

      <%= f.text_area :content, class: "comment_input_field" %>
  </p>
  <p>
    <%= f.submit "Submit", class: "btn-comment" %>
  </p>
<% end %>
