<h3>Post a Comment</h3>

<%= form_for [ @upload, @comment ] do |f| %>
  <p>
    <%= f.label :content, "Your Comment"%><br/>
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>
