<h1>Folders#show</h1>
<p>Find me in app/views/folders/show.html.erb</p>

<table>
  <tr>
    <th>
      Name
    </th>
    <th>
      File Size
    </th>
    <th>
      File Type
    </th>
  </tr>
  <tr>
    <% @folder.children.each do |child| %>
      <td>
        <%= link_to child.name, child.class == Upload ? upload_path(child) : folder_path(child) %>
      </td>
      <td>
        <%= child.size if child.class == Upload %>
      </td>
      <td>
        <%= child.file_type if child.class == Upload %>
      </td>
    </tr>
  <% end %>
</table>