<div class="breadcrumbs">
  <% current_folder.ancestors.each do |f| %>
    <div class="box">
      <%= link_to f.name, folio_path %>
    </div>
  <% end %>
  <div class="box">
    <%= current_folder.name %>
  </div>
</div>
