<div class="breadcrumbs">
  <% @current_folder.ancestors.each do |f| %>
    <div class="box">
      <%= link_to f.name, folder_path(f) %>
    </div>
  <% end %>
  <div class="box">
    <%= @current_folder.name %>
  </div>
</div>