<div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Folio Share</a>
        <ul class="right hide-on-med-and-down">
          <% if current_user.nil? %>
            <li><%= link_to "Login", login_path%></li>
            <li><%= link_to "Create Account", new_user_path %></li>
          <% else %>
            <li><%= link_to "Logout", logout_path, method: "delete" %></li>
            <li><%= link_to "Edit Account Details", edit_user_path(current_user) %></li>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>
