<%= form_for @file do |f| %>
<div class="upload_file_form">
  <%= f.file_field :attachment %>
  <%= f.text_field :folder_id, value: "#{current_folder.id}", type: :hidden %>
  <br>
  <%= f.submit "Upload File" %>
</div>
<% end %>
