</div>
<div class="parallax-container">
   <div class="parallax"><img src="/images/share_key.jpg"></div>
 </div>
 <div class="section dark-slate center">
   <div class="row container">
     <h2 class="header center">Upload. Save. Share.</h2>
     <%= link_to "Start Now", "users/new", class: "btn waves-effect waves-pink" %>
   </div>
 </div>
 <div class="container">
