<div class="center">
  <h2>Share "<%= link_to current_folder.name, folder_path(current_folder) %>" with:</h2>
  <div class="center">
    <%= form_for :collaboration, url: folder_share_path do |f| %>
      <div class="container">
        <div class="input-field">
          <i class="material-icons prefix">folder_shared</i>
          <%= f.text_field :user, placeholder: "Username", id: "icon-prefix" %>
        </div>
          <br /><%= f.submit "Collaborate" , class: "btn"%>
      </div>
    <% end %>
  </div>
</div>
