form {
  .material-icons {
    color: $dark-slate;
  }
  .btn, .btn-large {
      color: $ghost_white;
      background-color: $purple;
  }
}
/* label color */
 .input-field label {
   color: $green;
 }
 /* label focus color */
 .input-field input[type=text]{
   border-bottom: 1px solid $dark-slate;

 }
 .input-field input[type=text]:focus + label {
   color: $green;
 }
 /* label underline focus color */
 .input-field input[type=text]:focus {
   border-bottom: 1px solid $green;
   box-shadow: 0 1px 0 0 $green;
 }
 /* valid color */
 .input-field input[type=text].valid {
   border-bottom: 1px solid $green;
   box-shadow: 0 1px 0 0 $green;
 }
 /* invalid color */
 .input-field input[type=text].invalid {
   border-bottom: 1px solid $green;
   box-shadow: 0 1px 0 0 $green;
 }
 /* icon prefix focus color */
 .input-field .prefix.active {
   color: $green;
 }
