/* Materialize Styling */

@import 'materialize';
@import "materialize/extras/nouislider";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

/* CSS Styling */

@import 'variables';
@import 'foundations';
@import 'nav';
@import 'root_path';

.box {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  background-color: $taupe;
}