/* Materialize Styling & Fonts*/

@import 'materialize';
@import "materialize/extras/nouislider";
@import "https://fonts.googleapis.com/icon?family=Material+Icons|Special+Elite|Cabin|Poiret+One";

/* CSS Styling */

@import 'variables';
@import 'foundations';
@import 'nav';
@import 'root_path';
@import 'home';
