/* Materialize Styling & Fonts*/

@import 'materialize';
@import "materialize/extras/nouislider";
@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import "https://fonts.googleapis.com/icon?family=Material+Icons|Special+Elite|Cabin";

/* CSS Styling */

@import 'variables';
@import 'foundations';
@import 'nav';
@import 'root_path';
@import 'home';

p.compact {
  float: left;
  margin: 2px;
  margin-right: 10px;
  line-height: 0.5;
}

.back-button {
  vertical-align: middle;
}

h4.compact {
  margin: 0px;
}

td.compact {
  padding: 0px;
}