nav  {
  background-color: $taupe;
  height: 48px;
  padding: 0;
  .brand-logo {
    position: absolute;
    color: $pinky;
    display: inline-block;
    font-size: 1.9rem;
    padding: 0;
    white-space: nowrap;
    font-family: 'Poiret One', cursive;
  }
  ul {
    a {
      transition: background-color .3s;
      font-size: 1.2rem;
      color: $purple;
      display: block;
      padding: 0 15px;
      cursor: pointer;
      font-family: 'Poiret One', cursive;
    }
  }
}
.navbar-fixed {
  position: relative;
  height: 48px;
  z-index: 997;
}
nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
  height: 48px;
  line-height: 48px;
}
