
/* Override the primary colors with the commented out code below.
@import "materialize/components/color";
$primary-color: #99D3DE !default;
$secondary-color: #C9C9C9 !default;
*/

/* Fun Colors */
$green: #55d6be;
$light-green: #acfcd9;
$purple: #7d5ba6;
$taupe: #dddddd;
$pinky:#fc6471;
$jet: #3a3335;
$ghost-white: #fcf7ff;
$storm-cloud: #506c64;
$dark-slate: #28536b;
