
/* Override the primary colors with the commented out code below.
@import "materialize/components/color";
$primary-color: #99D3DE !default;
$secondary-color: #C9C9C9 !default;
*/

/* Fun Colors */
$green: #55D6BE;
$light-green: #ACFCD9;
$purple: #7D5Ba6;
$taupe: #DDDDDD;
$pinky:#FC6471;

/* BlueGrey */
$grey: #C9C9C9;
$light_grey: #E3E3E3;
$light_blue: #99D3DE;
$onyx: #333745;
$darker_blue: #2274A5;
