
/* Override the primary colors with the commented out code below.
@import "materialize/components/color";
$primary-color: #99D3DE !default;
$secondary-color: #C9C9C9 !default;
*/

/* Fun Colors */
$green: #55d6be;
$light-green: #acfcd9;
$purple: #7d5ba6;
$taupe: #dddddd;
$pinky:#fc6471;

/* BlueGrey */
$grey: #c9c9c9;
$light-grey: #e3e3e3;
$light-blue: #99d3de;
$onyx: #333745;
$darker-blue: #2274a5;
