<h1>Uploads#show</h1>

<p><%= @upload.name %></p>

<p><%= @upload.size %></p>

<p><%= @upload.content_type %></p>

<p><%= link_to "Download", upload_download_path(@upload), class: "btn" %></p>

<div class="comments">
  <h3>Comments</h3>
</div>